{% extends 'blog/list.html' %}


{% block content %}
<h1>post</h1>

<ul>
{% for post in object_list %}
	<li><a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a> - {{ post.author }} -
		<a href="{% url 'blog:categories' post.category%}">{{ post.category }}</a> - {{ post.publish }}
	<small>
		{% if user.is_authenticated %}
			{% if user.id == post.author.id %}
			  - <a href="{% url 'blog:update' post.pk %}">(Eidt)</a> 
				<a href="{% url 'blog:delete' post.pk %}">(Delete)</a></small>
			{% endif %}
		{% endif %}
		</small> <br/>
		{{ post.snippet}}</li>
{% endfor %}
</ul>

{% endblock %}