{% extends 'blog/list.html' %}

{% block title %}
	Gute Fahrt | {{ post.title }}
{% endblock %}

{% block content %}
<h1>post the first!</h1>
<li>{{ post.title }} - <small>By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.publish }}
<a href="{% url 'blog:update' post.pk %}">(Eidt)</a>
<a href="{% url 'blog:delete' post.pk %}">(Delete)</a>
</small>
<br/>
<hr>
<br/>
{{ post.body }}</li>


<br/>
<br/>
<a href="{% url 'blog:home' %}" class="btn btn-secondary">Back</a>
{% endblock %}