{% extends 'blog/list.html' %}

{% block title %}
	Gute Fahrt | {{ post.title }}
{% endblock %}

{% block content %}
<h1>post the first!</h1>
<li>{{ post.title }} - <small>By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.publish }}
	{% if user.is_authenticated %}
		{% if user.id == post.author.id %}
			<a href="{% url 'blog:update' post.pk %}">(Eidt)</a>
			<a href="{% url 'blog:delete' post.pk %}">(Delete)</a>
		{% endif %}
	{% endif %}
</small>
<br/>
<hr>
<br/>
{{ post.body }}</li>


<br/>
<br/>
<a href="{% url 'blog:home' %}" class="btn btn-secondary">Back</a>


<br/>
<hr>
<form action="{% url 'blog:like_post' post.pk %}" method="POST" >
	{% csrf_token %}
	{% if user.is_authenticated %}
	{% if liked %}
		<button type="submit", name="post_id", value="{{post.id}}", class="btn btn-danger btn-sm" >Unlike</button> 
	{% else %}
		<button type="submit", name="post_id", value="{{post.id}}", class="btn btn-primary btn-sm" >Like</button> 
	{% endif %}
	{% else %}
		<a href="{% url 'login' %}">Login</a> to like
	{% endif %}
		- {{total_likes}} Likes
</form>

{% endblock %}